body#neighbApp {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
  background-color: #fff;
}

#neighbApp a {
  color: #008489;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

#neighbApp a:hover {
  text-decoration: underline;
}

.distance-table-header {
  visibility: collapse
}

table {
  max-width: 595px !important;
}

.checkbox {
  margin-right: 8px;
}

#transit-checkbox label {
  margin-bottom: 0px;
}

#map-section {
  position: relative;
  width: 595px;
  top: 1px;
}

#transit-checkbox {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 5;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.7);
}
