body#neighbApp {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
  background-color: #fff;
}

#neighbApp a {
  color: #008489;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

#neighbApp a:hover {
  text-decoration: underline;
}

.distance-table-header {
  visibility: collapse
}

table {
  max-width: 595px !important;
}

#transitCheckbox {
  margin-left: 12px;
  margin-right: 8px;
}
